<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <nav class="d-flex justify-content-center mb-5 mt-3">
        <h1>STORE</h1>
    
        <% if(isLogin) { %>
            <div class="btn btn-success" ><p>akun</p></div>
        <% } else { %>
            <div class="btn btn-primary" ><p>Login</p></div>
        <% } %>

    </nav>
    <div class="d-flex justify-content-center" style="gap : 70px">
        <% for (let i = 0 ; i < data.length ; i++) { %>
            <%- include('card', data[i]) %>
        <% } %>
    </div>







    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>