<div class="d-flex justify-content-center-align-item-center w-100 h-50 text-align-center">
    <h4>Login</h4>
    <form action="/login" method="post" >
        <label for="">username</label>
        <br>
        <input type="text" name="username">
        <br>
        <label for="">Password</label>
        <br>
        <input type="password" name="password">
        <br>
        <button type="submit" >Login</button>
    </form>
</div>